.tabbar {
  width: 100vw;
  height: 36px;
  padding-top: 11.5px;
  width: 100%;
  height: 24.5px;
}

.tab-shadow {
  position: absolute;
  top: 11.5px;
  left: 0;
  width: 150px;
  transition: transform 100ms linear;
  will-change: transform;
}

.tab-shadow-start,
.tab-shadow-end {
  position: absolute;
  top: 0;
  width: 24.5px;
  height: 24.5px;
  background-size: 100% 100%;
}

.tab-shadow-middle {
  position: absolute;
  left: 24.5px;
  right: 24.5px;
  height: 24.5px;
  background-color: rgba(0,0,0,0.4);
}

.tab-shadow-start {
  background-image: url(a.png);
  left: 0;
}

.tab-shadow-end {
  background-image: url(b.png);
  right: 0;
}

.tab {
  float: left;
  width: 150px;
  height: 24.5px;
  position: relative;
  /* transition: color 50ms linear; FIXME: break color switching in servo */
  -moz-user-select: none;
  cursor: default;
}

.tab:not(.selected) {
  color: rgba(0,0,0,0.4);
}

.tab-title {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  line-height: 24.5px;
  vertical-align: middle;
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-close {
  position: absolute;
  top: calc(24.5px / 2 - 8px);
  right: 12px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  font-family: 'ion';
}

.tab:not(:hover) > .tab-close {
  opacity: 0;
}

.tab-favicon {
  position: absolute;
  top: calc(24.5px / 2 - 8px);
  left: 12px;
  width: 16px;
  height: 16px;
  pointer-events: none;
}

.tab-spinner {
  position: absolute;
  top: calc(24.5px / 2 - 8px);
  left: 12px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  font-family: 'ion';
  pointer-events: none;
  animation-name: spinning;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
